:7060 {
    handle /health {
        reverse_proxy melereview_api:8082
    }

    handle /api/* {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy melereview_api:8082
    }

    handle /static/* {
        header Cache-Control "public, max-age=31536000, immutable"
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy melereview_web:8081
    }

    handle_path /documentation/* {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy melereview_documentation:8005
    }

    handle {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy melereview_web:8081
    }
}
